{% extends "layout/base.html" %}
<!--  -->
{% block title %}Login{% endblock %}
<!--  -->
{% block content %}
<div
  class="d-flex justify-content-center align-items-center"
  style="height: 80vh"
>
  <form action="" method="post">
    <h1 class="text-center">Login</h1>
    <div class="position-relative">
      <label class="d-block">Email</label>
      <input type="email" name="email" class="form-control" required />
    </div>
    <div class="position-relative">
      <label class="d-block">Password</label>
      <input type="password" name="password" class="form-control" required />
    </div>
    <button class="btn btn-sm btn-success float-end my-3" type="submit">
      submit
    </button>
  </form>
</div>
{% endblock %}
<!--  -->
